.container {
  overflow-x: auto;
  height: calc(100vh - var(--ifm-navbar-height));
}

.matrix {
  width: 100%;
  border-collapse: collapse;
  overflow: initial;
}

.matrix th,
.matrix td {
  border: 1px solid var(--ifm-table-border-color);
  padding: 0.5rem;
  vertical-align: top;
}

/* Make header sticky */
.matrix thead th {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: #ebedf0;
}

/* Make first column sticky */
.matrix th:first-child,
.matrix td:first-child {
  position: sticky;
  left: 0;
  background-color: #ebedf0;
  z-index: 2;
}

.matrix pre {
  white-space: pre-wrap;
}
